configuration {
    modi: "drun";
    show-icons: true;
    terminal: "kitty";
    display-drun: "󰀻  Applications";
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 11";
    icon-theme: "Papirus-Dark";
}
@theme "theme"
